{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(profileForm) }}
    {{ form_row(profileForm) }}
    <button type="submit">edit profile</button>
    {{ form_end(profileForm) }}

{% endblock %}

{% block title %}

{% endblock %}

