{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(categoryForm) }}
    {{ form_row(categoryForm) }}
    <button type="submit">créer</button>
    {{ form_end(categoryForm) }}

{% endblock %}

{% block title %}

{% endblock %}

