{% block javascript %}
{% block importmap %}
    {{ importmap('filtre') }}
{% endblock %}
{% endblock %}

<div class="flex flex-col">
    <div>
        <button id="filtre" type="button" class="px-4 py-2 bg-[#D66853] text-white rounded hover:bg-[#bf503f] focus:outline-none focus:ring-2 focus:ring-[#D66853]">
            filtre
            <!-- Tu peux ajouter ici des icônes SVG si tu veux -->
        </button>
        <div id="mobile-menu-filtre" class="hidden mt-3">
            <ul class="flex flex-col space-y-2">
                {% for category in categories %}
                    <li>
                        <a href="{{ path('app_category_show', {id: category.id}) }}"
                           class="block px-4 py-2 rounded text-[#D66853] hover:bg-[#D66853] hover:text-white transition-colors duration-200">
                            {{ category.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>


