{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(imageForm) }}
    {{ form_widget(imageForm) }}
    <button type="submit">addimage</button>
    {{ form_end(imageForm) }}

{% endblock %}

{% block title %}

{% endblock %}

