{% extends 'base.html.twig' %}

{% block title %}


{% endblock %}

{% block body %}
    
    {{ form_start(productForm) }}
    {{ form_row(productForm) }}
    <button type="submit">edit</button>
    {{ form_end(productForm) }}


{% endblock %}

