{% extends 'base.html.twig' %}

{% block body %}

    <tr>
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>
            <a href="">edit</a>
        </td>
    </tr>

{% endblock %}

{% block title %}

{% endblock %}

