{% block create %}

    <turbo-stream action="append" target="messages">

        <template>

            <p id="{{ 'message_' ~ message.id }}" ><strong>

                    {% if 'ROLE_EMPLOYEE' in message.author.ofUser.roles %}
                        Support
                    {% else %}
                        {{ message.author.name }}
                    {% endif %}

                    said: </strong>{{ message.content }}</p>




        </template>


    </turbo-stream>

{% endblock %}
{% block update %} {% endblock %}
{% block remove %} {% endblock %}