{% extends 'base.html.twig' %}

{% block body %}
        <h1>Procéder au paiement</h1>
        <button id="checkout-button">Payer</button>



    <script src="https://js.stripe.com/v3/"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const stripe = Stripe('{{ stripe_public_key }}');

            document.getElementById('checkout-button').addEventListener('click', function () {
                fetch('/checkout/{{ billing.id }}/{{ shipping.id }}')  // <-- ICI on passe les ID
                    .then(response => response.json())
                    .then(session => {
                        return stripe.redirectToCheckout({ sessionId: session.id });
                    })
                    .catch(error => console.error('Erreur:', error));
            });
        });
    </script>


{% endblock %}

{% block title %}

{% endblock %}

