{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mes commandes</h1>

    {% if orders is empty %}
        <p>Vous n'avez aucune commande.</p>
    {% else %}
        <ul>
            {% for order in orders %}
                <li>Commande #{{ order.id }} - Date : {{ order.createAt|date('d/m/Y') }} - Total : {{ order.total }} €</li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}

{% block title %}

{% endblock %}

