{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(addresseForm) }}
    {{ form_row(addresseForm) }}
    <button type="submit">add address</button>
    {{ form_end(addresseForm) }}

{% endblock %}

{% block title %}

{% endblock %}

