{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(feedbackForm) }}
    {{ form_row(feedbackForm.content) }}

    <label>Note :</label>
    <div class="rating">
        {{ form_widget(feedbackForm.productRating) }}
    </div>

    <button type="submit">Envoyer</button>
    {{ form_end(feedbackForm) }}

{% endblock %}

{% block title %}

{% endblock %}

